body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section {
    display: flex;
}

#top-banner {
    background-image: url(../Images/top-banner.png);
    background-repeat: no-repeat;
}

#dream-banner {
    background-image: url(../Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#exp-banner {
    background-image: url(../Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


h1 {
    font-size: 50px;
}

.half-width {
    width: 50%;
    padding: 70px;
}

.blueviolet-color {
    color: rgb(243, 107, 10);
}

.orange-color {
    color: orange;
}

.orange-color {
    color: orange;
}

.half-width img {
    width: 90%;
}

.link-buttom {
    background-image: linear-gradient(to right, rgb(238, 95, 95), rgb(231, 231, 96));
    padding: 10px 22px;
    color: white;
    font-weight: 800;
    text-decoration: none;
    border-radius: 7px;
}

.box-shadow div {
    box-shadow: 10px 10px 40px black;
    margin: 50px;
    padding: 60px;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(57, 60, 230), rgb(8, 168, 236));
    border-image-slice: 1;
}

footer {
    text-align: center;
    margin-top: 120px;
}